@media screen and (max-width: 614px) {
    footer {
        position:relative;
        bottom: -20vw;
    }
    #footer-nav{
        flex-direction: column;
    }
    main #wrapper-search {
        transform: scaleX(75%);
    }
}
